<div class="wrapper">
  <div class="quiz-container">
    <h2>My Quiz List</h2>
    <div class="card-container">
      <% @my_quiz_results.each_with_index do |result, index| %>
        <% condition = @recently_created && index == 0 %>
        <div class="quiz-card <%= condition ? 'new_quiz_background' : '' %>">
          <%= link_to quiz_path(result.quiz), class: "no-underline" do %>
            <div class="quiz-content">
              <div>
                <div class="text">
                  <h3><%= result.quiz.title %></h3>
                </div>
                <div class="icon">
                  <%= link_to new_quiz_quiz_result_path(result.quiz), class: "no-underline", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your Quiz?" } do %>
                    <i class="fa-regular fa-circle-xmark fa-lg" style="color: #e50b0b;"></i>
                  <% end %>
                </div>
              </div>
              <div class="donut" style="--progress: <%= result.result_percentage %>%;">
                <div class="donut__gap">
                  <h2 class="quiz-result-percentage">
                    <%= result.result_percentage.to_i %> %
                  </h2>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="navbar-container">
    <div class="navbar">
      <button class="navbar-button">
        <%= link_to image_tag("home-button.svg", alt: "Home Button"), quizzes_path %>
      </button>
      <button class="navbar-button">
        <%= link_to image_tag("home-button.svg", alt: "New Button"), new_quiz_path %>
      </button>
      <button class="navbar-button">
        <%= link_to image_tag("home-button.svg", alt: "Avatar Button"), profile_path %>
      </button>
    </div>
  </div>
</div>
