 <div class="wrapper1">
  <div class="wrapper2">
    <div class="">
      <div class="profile-info">
        <h2 class="big-text">Create New Quiz</h2>
      </div>
      <div class="quiz-form">
        <%= simple_form_for @quiz, html: { multipart: true } do |f| %>
          <div class="question-card">
            <%= f.label "Add jpeg/pdf", :image, class: "question-text-area-picture" %>
            <div class="file-input-container">
             <%= f.file_field :image, as: :file, input_html: { placeholder: "" }, data: { quiz_form_target: "imageInput", action: "change->quiz-form#toggleInputs" } %>
            </div>
          </div>

          <div class="question-card">
              <%= f.label "Add text", class: "question-text-area-label" %>
            <div class="input-wrapper">
              <%= f.text_area :text, class: "question-text-area", data: { quiz_form_target: "textInput", action: "change->quiz-form#toggleInputs" } %>
            </div>
          </div>
          <div class="button-center">
            <%= f.submit "Submit", class: "wide-button green-button" %>
          </div>
        <% end %>
      </div>
    </div>


  </div>
    <div class="navbar-container">
        <div class="navbar">
          <button class="navbar-button">
            <%= link_to image_tag("home-button.svg", alt: "Home Button"), quizzes_path %>
          </button>
          <button class="navbar-button">
            <%= link_to image_tag("home-button.svg", alt: "New Button"), new_quiz_path %>
          </button>
          <button class="navbar-button">
            <%= link_to image_tag("home-button.svg", alt: "Avatar Button"), profile_path %>
          </button>
        </div>
      </div>
</div>
