

  <div class="navbar-shadow">
  </div>

<% if @quiz && @quiz.id != nil %>
  <% if current_page?(new_quiz_quiz_result_path(@quiz)) %>
    <style>
      .navbar-bottom {
        display: none;
      }
      .navbar-shadow {
        display: none;
      }
    </style>
  <% end %>
<% end %>
 // navbar if we want to move down
<%# <div class="navbar navbar-up" data-navbar-color-target="navbar"> %>
  <div class="navbar-bottom" data-controller="navbar-color" data-navbar-color-target="navbar">
    <%= link_to quizzes_path, class: "navbar-button active", data: { navbar_color_target: 'list' } do %>
      <div class="navbar-button-icon">
        <i class="fa-solid fa-list"></i>
      </div>
      <%# <div class="navbar-button-text">
        Quiz List
      </div> %>
    <% end %>

    <%= link_to root_path, class: "navbar-button active", data: { navbar_color_target: 'chimney' } do %>
      <div class="navbar-button-icon">
        <i class="fa-solid fa-house-chimney"></i>
      </div>
      <%# <div class="navbar-button-text">
        Home
      </div> %>
    <% end %>

    <%= link_to profile_path, class: "navbar-button active", data: { navbar_color_target: 'user' } do %>
      <div class="navbar-button-icon">
        <i class="fa-solid fa-user"></i>
      </div>
      <%# <div class="navbar-button-text">
        Profile
      </div> %>
    <% end %>
  </div>

  <!--
  <%= link_to profile_path, class: "navbar-button" do %>
    <div class="navbar-button-icon">
      <i class="fa-solid fa-user"></i>
    </div>
    <div class="navbar-button-text">
      Profile
    </div>
  <% end %>

  <%= button_to logout_path, method: :delete, class: "navbar-button", data: { confirm: "Are you sure you want to log out?" } do %>
    Log Out
  <% end %>
  -->
<%# </div> %>
