<div class="page-container">
  <p class="home-title">Your Quizzes</p>
  <div class="card-basic">
      <div class="quizzes-donuts">
        <% @quiz_results.first(10).each do |result| %>
          <div class="quiz-donut-with-name">
            <div class="donut-home" style="--progress: <%= result.result %>%;">
              <div class="donut__gap-home"><%= result.result.to_i * 10 %>%</div>
            </div>
            <%= link_to result.quiz.title, quiz_path(result.quiz), class: "donut-text" %>
          </div>
        <% end %>
      </div>
      <%= link_to quizzes_path, class: "wide-button centered-button" do %>
        Quiz List
      <% end %>
  </div>

  <div class="card-basic">
    <div class="feed-title row justify-content-center">Qizz Feed</div>
      <div>
         <% @quiz_highscores.each do |quiz_highscore| %>
           <div class="card-basic"> 🎉 CONGRATULATIONS !! 🏆 <br/>
               <%= quiz_highscore.user.username %> scored <%= quiz_highscore.result %>%
                in their "<%= quiz_highscore.quiz.title %>" quiz!
                  <div>
                     <i class="fa-regular fa-thumbs-up"></i>
                     <i class="fa-regular fa-comment"></i>
                  </div>
             </div>
           <% end %>
       </div>

        <div>
          <% @recent_quizzes.each do |recent_quiz| %>
            <div class="card-basic">
              ✨ HOORAY !! ✨ <br/><%= recent_quiz.user.username %> created a new <%= recent_quiz.title %>
                 Quiz!
                  <div>
                     <i class="fa-regular fa-thumbs-up"></i>
                     <i class="fa-regular fa-comment"></i>
                  </div>
            </div>
          <% end %>
        </div>

  </div>

</div>
