<div class="page-container">
  <p class="home-title">Your Quizzes</p>
  <div class="card-basic">
      <div class="quizzes-donuts">
        <% @my_quizzes.each do |quiz, highest_result| %>
          <div class="quiz-donut-with-name">
            <div class="donut-home" style="--progress: <%= (highest_result*100).to_i %>%;">
              <div class="donut__gap-home"><%= (highest_result*100).to_i %>%</div>
            </div>
            <%= link_to quiz.title, quiz_path(quiz), class: "donut-text" %>
          </div>
        <% end %>
      </div>
      <%= link_to quizzes_path, class: "wide-button centered-button" do %>
        Quizz List
      <% end %>
  </div>
  <p class="home-title mt-3">Feed</p>
  <div>
    <% @sorted_quiz_feed.each do |event| %>
      <div class="card-basic">
        <% if event.is_a?(QuizResult) %>
          🎉 CONGRATULATIONS !! 🏆 <br/>
          <%= event.user.username %> scored <%= (event.result*100).to_i %>% in their <%= event.quiz.title %> Quizz!
            <div data-controller="toggle" class="comment-like">
              <div>
                <i data-toggle-target="toggleLike" data-action="click->toggle#like" class="fa-regular fa-thumbs-up"></i>
              </div>
            </div>
        <% elsif event.is_a?(Quiz) %>
          ✨ HOORAY !! ✨ <br/><%= event.user.username %> created a new <%= event.title %> Quizz!
          <div class="small-button-right mt-3">
             <%= link_to quiz_path(event), class: "small-button centered-button" do %>
               Take this Quizz!
             <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
