<div class="page-container">
  <div class="quizlist-container">
    <div class="quizzes-card-home">
      <div class="quizzes-donuts">
        <% @quiz_results.first(3).each do |result| %>
          <div class="quiz-donut-with-name">
            <div class="donut-home">
              <div class="donut__gap-home"><%= result.result.to_i * 10 %>%</div>
            </div>
            <%= link_to result.quiz.title, quiz_path(result.quiz), class: "donut-text" %>
          </div>
        <% end %>
      </div>
      <div class="wide-button green-button">Quiz List</div>
    </div>
  </div>

  <!-- TODO: FEED -->

  <div class="quizlist-container">
    <p class="feed-title">Quick Qizz Events Feed</p>
      <div>
        <% @quiz_highscores.each do |quiz_result| %>
          <div class="card-basic">
            <p>Congratulations to <%= quiz_result.user.username %> for scoring <%= quiz_result.result %>%
               in their "<%= quiz_result.quiz.title %>" quiz!</p>
          </div>
        <% end %>
        </div>


    <div class="event-card">
      Michael Bubble <br/>
      Broke a new record on a quiz about apples
      <div class="like-comment">
        Like  Comment
      </div>
    </div>

    <div class="event-card">
      Sergio Alonso <br/>
      Created a new quiz for types of antibiotics. Check it out!
      <div class="like-comment">
        Like  Comment
      </div>
    </div>

    <div class="event-card">
      Natasha Brian <br/>
      Scored at 80% on a quiz about having a baby
      <div class="like-comment">
        Like  Comment
      </div>
    </div>
  </div>
  <!-- TODO: FEED -->
</div>
