<div class="page-container">
  <p class="home-title">Your Quizzes</p>
  <div class="card-basic">
      <div class="quizzes-donuts">
        <% @quiz_results.first(10).each do |result| %>
          <div class="quiz-donut-with-name">
            <div class="donut-home" style="--progress: <%= result.result %>%;">
              <div class="donut__gap-home"><%= result.result.to_i * 10 %>%</div>
            </div>
            <%= link_to result.quiz.title, quiz_path(result.quiz), class: "donut-text" %>
          </div>
        <% end %>
      </div>
      <%= link_to quizzes_path, class: "wide-button centered-button" do %>
        Quizz List
      <% end %>
  </div>
  <div>
    <% @sorted_quiz_feed.each do |event| %>
      <div class="card-basic">
        <% if event.is_a?(QuizResult) %>
          🎉 CONGRATULATIONS !! 🏆 <br/>
          <%= event.user.username %> scored <%= event.result %>%
          in their <%= event.quiz.title %> Quizz!
        <% elsif event.is_a?(Quiz) %>
          ✨ HOORAY !! ✨ <br/><%= event.user.username %> created a new <%= event.title %> Quizz!
        <% end %>
        <div class="comment-like">
          <i class="fa-regular fa-thumbs-up"></i>
          <i class="fa-regular fa-comment"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
