<div class="page-container">
  <div class="card-basic">
      <div class="quizzes-donuts">
        <% @quiz_results.first(3).each do |result| %>
          <div class="quiz-donut-with-name">
            <div class="donut-home">
              <div class="donut__gap-home"><%= result.result.to_i * 10 %>%</div>
            </div>
            <%= link_to result.quiz.title, quiz_path(result.quiz), class: "donut-text" %>
          </div>
        <% end %>
      </div>
      <div class="wide-button">Quiz List</div>
  </div>

  <!-- TODO: FEED -->
  <div class="feed-container">
    <p class="feed-title">Feed - TODO</p>
    <!--
    <% @feed.each do |user| %>
      <p>Do sth for each user: <%= user.email %></p>
      <%= link_to "Comment", root_path %>
      <%= link_to "Like", root_path %>
    <% end %>
    -->
    <div class="card-basic">
      Michael Bubble <br/>
      Broke a new record on a quiz about apples
      <div class="like-comment">
        Like  Comment
      </div>
    </div>

    <div class="card-basic">
      Sergio Alonso <br/>
      Created a new quiz for types of antibiotics. Check it out!
      <div class="like-comment">
        Like  Comment
      </div>
    </div>

    <div class="card-basic">
      Natasha Brian <br/>
      Scored at 80% on a quiz about having a baby
      <div class="like-comment">
        Like  Comment
      </div>
    </div>
  </div>
  <!-- TODO: FEED -->
</div>
