<div class="wrapper1">
  <div class="profile-container">
    <h1>Profile</h1>

    <div class="profile-info">
      <%= image_tag "profile.png", alt: "Profile Picture", class: "profile-picture" %>
      <h2 class="username">Username :<br><%= current_user.email %></h2>
    </div>

    <div class="profile-stats">
      <div class="profile-info">
        <h2>Created Quizzes</h2>
        <% @created_quizzes.each do |quiz| %>
          <p><%= quiz.title %></p>
        <% end %>
      </div>

      <div class="profile-info">
        <h2>Taken Quizzes</h2>
        <% @taken_quizzes.each do |quiz| %>
          <p><%= quiz.title %></p>
        <% end %>
      </div>

      <div class="profile-info">
        <p><%= @average_score %></p>
        <h2>Average Score</h2>
      </div>
    </div>

    <div class="profile-buttons">
      <%= link_to settings_path, class: "profile-button" do %>
        <%= image_tag("home-button.svg", alt: "Settings Icon", class: "button-icon") %>
        <span class="button-text">Settings</span>
      <% end %>

      <%= link_to edit_user_registration_path, class: "profile-button" do %>
        <%= image_tag("home-button.svg", alt: "Change Password Icon", class: "button-icon") %>
        <span class="button-text">Change Password</span>
      <% end %>

      <%= link_to community_path, class: "profile-button" do %>
        <%= image_tag("home-button.svg", alt: "Community Icon", class: "button-icon") %>
        <span class="button-text">Community</span>
      <% end %>
    </div>

  </div>

  <div class="navbar-container">
    <div class="navbar">
      <button class="navbar-button">
        <%= link_to image_tag("home-button.svg", alt: "Home Button"), quizzes_path %>
      </button>
      <button class="navbar-button">
        <%= link_to image_tag("home-button.svg", alt: "Home Button"), root_path %>
      </button>
      <%= button_to logout_path, method: :delete, class: "navbar-button", data: { confirm: "Are you sure you want to log out?" } do %>
        Log Out
      <% end %>
    </div>
  </div>
</div>
