<div class="page-container">
  <div>
     <%= image_tag("QuickQuizz.png", alt: "LOGO", class: "logo-image") %>
    <div>
      <h2>Helloo!</h2>
      <section class="sign-up-box">
        <p>Log In</p>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        label: false,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email", placeholder: "Username", class: "test" } %>
            <%= f.input :password,
                        label: false,
                        required: false,
                        input_html: { autocomplete: "current-password", placeholder: "Password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit , "Log in", class: "w-100" %>
          </div>
        <% end %>
      </section >
    </div>
  </div>
</div>
