<!DOCTYPE html>
<html>
  <head>
    <title>QuickQuizz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-100">
    <%= render "shared/navbar-top" %>
    <div class="display">
      <%= render "shared/background" %>
      <%# <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>


      <%= yield %>
    </div>
    <%= render "shared/navbar-bottom" %>
  </body>
</html>
